[Unit]
Description=Setup foo
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/send-mail.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=multi-user.target